<clr-datagrid (clrDgRefresh)="refresh($event)" [(clrDgSelected)]="selected" [clrDgLoading]="loading">
    <clr-dg-column>VM ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'servername'">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'created'">Creation date</clr-dg-column>
    <clr-dg-column [clrDgField]="'datacenter'">Datacenter</clr-dg-column>
    <clr-dg-column [clrDgField]="'cluster'">Cluster</clr-dg-column>
    <clr-dg-column>Num CPU</clr-dg-column>
    <clr-dg-column>Memory GB</clr-dg-column>
    <clr-dg-row *ngFor="let vm of vms.data" [clrDgItem]="vm" (click)="clicked(vm)">
        <clr-dg-cell>{{vm.vmid}}</clr-dg-cell>
        <clr-dg-cell>{{vm.servername}}</clr-dg-cell>
        <clr-dg-cell>{{vm.created | date}}</clr-dg-cell>
        <clr-dg-cell>{{vm.properties[0].datacenter}}</clr-dg-cell>
        <clr-dg-cell>{{vm.properties[0].cluster}}</clr-dg-cell>
        <clr-dg-cell>{{vm.properties[0].numcpu}}</clr-dg-cell>
        <clr-dg-cell>{{vm.properties[0].memorysizegb}}</clr-dg-cell>
    </clr-dg-row>

 <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{vms.total}} VMs
        <clr-dg-pagination #pagination [clrDgTotalItems]="vms.total"></clr-dg-pagination>
    </clr-dg-footer>

</clr-datagrid>
