<clr-datagrid (clrDgRefresh)="refresh($event)" [(clrDgSelected)]="selected" [clrDgLoading]="loading">
    <clr-dg-column>VM ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'servername'">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'created'">Creation date</clr-dg-column>
    <clr-dg-column [clrDgField]="'datacenter'">Datacenter</clr-dg-column>
    <clr-dg-column [clrDgField]="'cluster'">Cluster</clr-dg-column>
    <clr-dg-row *ngFor="let vm of vms.data" [clrDgItem]="vm" (click)="clicked(vm)">
        <clr-dg-cell>{{vm.vmid}}</clr-dg-cell>
        <clr-dg-cell>{{vm.servername}}</clr-dg-cell>
        <clr-dg-cell>{{vm.created | date}}</clr-dg-cell>
        <clr-dg-cell>{{vm.datacenter}}</clr-dg-cell>
        <clr-dg-cell>{{vm.cluster}}</clr-dg-cell>
    </clr-dg-row>

 <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{vms.total}} VMs
        <clr-dg-pagination #pagination [clrDgPageSize]="15" [clrDgTotalItems]="vms.total"></clr-dg-pagination>
    </clr-dg-footer>

</clr-datagrid>
<div *ngIf="vm_detail">  
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                {{showvm?.servername}}
            </div>
            <div class="card-block">
                <div class="card-title">
                    <div *ngIf='vm_detail[0]?.power == "poweredOn"'>
                        <span class="label label-success">Powered On</span>
                    </div>    
                </div>
                <div class="card-text">

                    <table class="table table-vertical">
                        <tbody>
                            <tr>
                                <th>NumCPU</th>
                                <td>{{vm_detail[0]?.numcpu}}</td>
                                
                            </tr>
                            <tr>
                                <th>Memory GB</th>
                                <td>{{vm_detail[0]?.memorysizegb}}</td>
                                
                            </tr>
                            <tr>
                                <th>Guest OS:</th>
                                <td>{{vm_detail[0]?.guestos}}</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">
                    Get Alerts
                </button>
                <button class="btn btn-sm btn-link">
                    Action 2
                </button>
                <div class="dropdown top-left">
                    <button class="dropdown-toggle btn btn-sm btn-link">
                        Details from date
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <div class="dropdown-menu">
                        <ng-container *ngFor="let d of vm_detail"> 
                        <a  href="..." class="dropdown-item">{{d.lastseen}}</a>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div> 