<table class="table">
  <thead>
    <tr>
      <th class="left">Cost for</th>
      <th class="left">Per</th>
      <th class="left">Amount</th>
      <th class="left">Currency</th>
      <th class="left">Valid</th>
      <th class="left">Description</th>
      <th class="left">Actions</th>
      </tr>
  </thead>
  <tbody>
  </tbody>


</table>


<button class="btn btn-primary" (click)="opened = true">Add cost</button>
<clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'lg'">
    <h3 class="modal-title">Add cost</h3>
    <div class="modal-body">
      <form>
          <section class="form-block">
              <div class="form-group">
                  <label for="costname">What to charge for:</label>
                  <div class="select">
                      <select name="costname" required id="costname" class="form-control" [(ngModel)]="newcost.costname">
                          <option>Please select...</option>
                          <option *ngFor="let item of costs">{{ item }} </option>
                      </select>
                  </div>
                  <div class="select">
                      <select id="itemtype" name="itemtype" class="form-control" [(ngModel)]="newcost.itemtype" >
                        <option>GB</option>
                        <option>MB</option>
                        <option>TB</option>
                        <option>Amount</option>
                        <option>Per Item</option>
                      </select>
                  </div>
              </div>
              <div class="form-group">
                  <label for="cost">Cost:</label>
                  <input size="10" type="text" id="cost" class="form-control" [(ngModel)]="newcost.cost" name="cost" placeholder="Cost">
              </div>
              <div class="form-group">
                  <label for="currency">Currency:</label>
                  <input size="10" type="text" id="currency" class="form-control" [(ngModel)]="newcost.currency" name="currency" placeholder="Currency">
              </div>
              <div class="form-group">
                  <label for="validfrom">Valid:</label>
                  <input size="10" type="text" id="validfrom" class="form-control" [(ngModel)]="newcost.validfrom" name="validfrom" placeholder="yyyy-mm-dd"> to 
                  <input size="10" type="text" id="validto" class="form-control" [(ngModel)]="newcost.validto" name="validto" placeholder="yyyy-mm-dd">

              </div>

              <div class="form-group">
                  <label for="description">Description:</label>
                  <textarea rows="5" id="description" class="form-control" [(ngModel)]="newcost.description" name="description" placeholder="Description">
                  </textarea>
              </div>
          </section>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="opened = false">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="opened = false; addCost()">Ok</button>
    </div>
</clr-modal>




